.wrapper {
  display: flex;
  flex-flow: row no wrap;
  justify-content: flex-end;
  padding: 1rem;
  align-content: space-between;
  gap: 1em;
}

.wrapper .about {
  flex-grow: 2;
  align-self: start;
  align-self: flex-start;
  flex-basis: 75rem;
}

.wrapper .img {
  flex-grow: 1;
  text-align: center;
}
