video,
iframe {
  display: block;
  margin: 1em auto;
  padding: 1em;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 1em;
}

.column li {
  list-style: none;
  display: inline-block;
  padding: 1em;
}

.column #links {
  text-align: center;
}

.column li a:hover {
  color: #0400e2;
  font-size: larger;
}

.column h2 {
  text-align: center;
}

.atcSkills li {
  list-style: circle;
}
